# default crapfile-ignores
*~
*.*bak*
*.old*
*.log*
*_log_*
*.bz2
*.gz
*.xz
*.tar
*.zip
*.nbm
*.orig
*.swp*
*.*-swp
*.db
*.jar
*Kopie*
nbproject/private
one-jar
.cache
.settings
.project
.kdev4
.buildpath
.svn
jgrapht

